
.calendar-area{
    border: solid white 2px;
    height:80vh;
    display: flex;
    flex-direction: column;
}

.calendar-container{
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60vw;
    justify-content: space-evenly;
}

.page-main{
    display: flex;
}

.detail-container{
    
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 40vw;
    justify-content:start;
}

.card-vendas{
    border: solid green 1px;
    padding: 5px;
    height: 100%;
    width: 100%;
    
}