.main-wrapper{
    height: 100%;
    width: 100%;
}

.dashboard-content-wrapper{
    color: white;
    display: flex;
    height: 96%;
    width: 100%;
    flex-direction: row;
    overflow-y: hidden;
    flex-wrap: wrap;

}

.dashboard-content{
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.dashboard-graph-wrapper{
    width: 50%;
    
}

.graph-content{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    text-align: center;

}

.graph-table{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.graph-table:not(:first-child){
    margin-top: 16px;
}

.dashboard-table-wrapper{
    background-color: white;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    border: solid black 2px;

}

.table-title{
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  text-align: center;
  border: none;
}

@media screen and (max-width: 832px){

    .dashboard-content-wrapper{
      width: 100%;
      height: 96%;
      color: white;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
    
    .dashboard-content{
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        margin-top: 16px;
    }
    
    .dashboard-graph-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        
    }

    .graph-content:not(:first-child){
        margin-top: 20px;
    }
    
    .graph-content{
        height: 100%;
        width: 100%;
        text-align: center;
        margin: 0px;
        background-color: rgba(0,0,0,0.5);
    }
    
    .dashboard-table-wrapper{
      background-color: white;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      border: solid black 2px;
    }

    .graph-table{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
    table{
        border:0;
      };
  
      table caption{
        font-size: 1.3em;
      }
  
      table thead{
        border:none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
  
      table tr{
        border-bottom: 3px solid black;
        display: block;
        margin-bottom: 0.60em;
      }
  
      table td{
        border-bottom: 1px solid black;
        display: block;
        font-size: 0.8em;
        text-align: right;
      }
  
      table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

}
