.card-vendas{
    background-color: white;
    height: 100%;
    text-align: left;
    padding: 5%;
    border:solid red 1px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.card-vendas>.btn-div>.button-container>button{
    position: relative;

}

.valores-div{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 832px){
    .card-vendas{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 100%;
        text-align: left;
        padding: 5%;
        border: solid red 1px;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: flex-start;
        align-items: center;
    }

    .btn-div{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .button-container{
        margin-top: 60px;
    }

}
