html, body, .app, #root{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5{
  margin: 0;
}

body{
  font: 14px;
  font-family: sans-serif;
  background-color: #adadad;
  background-image: url("./assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

li, ul{
  list-style-type: none;
}

.text-shadow{
  text-shadow: 1px 1px 2px rgba(21,21,21,0.2);
}

.drop-shadow{
  max-width: 100%;
  filter: drop-shadow(5px 5px 10px #000);
}

.page{
  overflow-y: scroll;
  overflow-x: hidden;
}

.loading{
  display: flex;
  flex-direction: column;
  border: solid white 5px;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  align-items: center;
  margin-top: 40%;
  background-color: rgba(0,0,0,.7);
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

